# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
httpx==0.24.1
starlette==0.38.0
matplotlib==3.9.2
missingno==0.5.2
numpy==1.26.4
pandas==2.1.4
scikit-learn==1.4.2
seaborn==0.13.2
shap==0.46.0
streamlit==1.37.1
uvicorn==0.30.6
fastapi==0.112.1
gunicorn==23.0.0
lightgbm==4.4.0
requests==2.32.3
pydantic==2.8.2
ipython==8.26.0
